{% extends "bootstrap/base.html" %}
{% block title %}Monitor{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 align="center"> <strong> {% block header %} {%- endblock header %} </strong> </h1>
    </div>

    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="header-top">
				<div class="container">
					<div class="row" align="right">
                        <p> Hello {{current_user.username}}! &nbsp;
                            <a href="{{url_for('page.logout')}}"> <input type="button" class="btn btn-default" value="Log Out"> </a>
                        </p>

					</div>
				</div>
			</div>

        {% block navigate_buttons %} {%- endblock %}

    </div>

    {% block info %} {%- endblock info %}

        {% endblock %}